.h-100 { height: 100%;}
.w-100 { width: 100%;}

.d-f { display: flex;}
.d-b { display: block;}
.d-n { display: none;}
.d-ib { display: inline-block;}

$i: 1;
@while $i <= 10 {
  .f-#{$i} {  flex: $i * 1px ; }
  $i: $i + 1 
}

.p-abs { position: absolute;}
.p-rel {  position: relative;}

.f-l {float: left;}

.f-r {  float: right;}

.ta-c {  text-align: center;}


.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@each $i in 2,5,10,15,20 {
  .pt-#{i} {padding-top: $i * 1px ;};
  .pb-#{i} {padding-bottom: $i * 1px ;};
  .pl-#{i} {padding-left: $i * 1px ;};
  .pr-#{i} {padding-right: $i * 1px ;};
  .mt-#{i} {margin-top: $i * 1px ;};
  .mb-#{i} {margin-bottom: $i * 1px ;};
  .ml-#{i} {margin-left: $i * 1px ;};
  .mr-#{i} {margin-right: $i * 1px ;};
}

@each $i in 10,14,16,18,20,24 {
  .fz-#{$i} { font-size: $i * 1px ;}
}
