html {
  font-size: 14px;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}
html,body {
  height: 100%;
}

html,body,div,span,iframe,
h1,h2,h3,h4,h5,h6,p,
a,img,dd,dl,dt,
li,ol,ul,form,label,
table,thead,tbody,tr,th,td,
input,figure {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}



img,svg {
  vertical-align: middle;
}

ol,ul {
  list-style: none;
}


h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  outline: none;
  color: lightcyan;
}

i {
  display: inline-block;
  vertical-align: top;
}
