<template>
  <div>
    <div
      class="
        uppercase
        border-solid
        inline-block
        border-4
        h-10
        w-1/2
        select-none
        bg-red-500 bg-opacity-50
      "
    >
      home
    </div>
    <div
      class="
        inline-block
        border-4
        h-10
        w-1/2
        ring-2
        cursor-auto
        bg-red-500 bg-opacity-50
      "
    >
      home
    </div>
  </div>
</template>
<script lang="ts" setup></script>
