<script lang="ts" setup>
import { Navbar } from '../navbar'
</script>

<template>
  <div role="layout" :class="$style.box">
    <div :class="$style.header" role="navbar">
      <Navbar></Navbar>
    </div>
    <div :class="$style.inner">
      <div role="content" :class="$style.content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<style lang="scss" module>
$headerHight: 50px;

.box {
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  width: 100%;

  left: 0;
  top: 0;
  height: $headerHight;
  background-color: rgba(0, 0, 0, 0.1);
}

.inner {
  height: 100%;
  padding-top: $headerHight;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content {
  height: 100%;
  // height: 1500px ;
  // background-color: cyan;
  background-color: #f5f5f5;
}
</style>
